body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
background-color: beige;
height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 20vh;
    border-bottom: 4px solid #FFE4B5;
    
    .header-logo-left{
        font-size: 30px;
        background: linear-gradient(to right, #000080, #6495ED);
        margin: 40px;
        span{
            color: #000;
            background: beige;
            mix-blend-mode: lighten;
            text-shadow: 0 0 10px #6495ED;
          
        }
    }

}

main{
    float: left;
    margin: 40px;
    padding-right: 40px;
    border-right: 4px solid #FFE4B5;
    height: 70vh;
    .hamburger-menu{
        cursor: pointer;
        width: 30px;
        height: 30px;
        
        img{
            // z-index: 2;
            width: 30px;
            height: 30px;
        }

    }


}
